.play-page{
    padding: 4rem;
    align-items: center;
    /* margin-left: 10px;
    border-left: 10px; */
    text-align: center; 

    display: flex;
    flex-direction: row;
    /*background: linear-gradient(90deg, rgb(255, 255, 255) 12%, rgb(154, 252, 239) 61%,rgb(70, 248, 233)) 91%);*/
    
}


.play-page h1{
    text-align: center;
    align-items: center;
    color: rgb(80, 152, 247);
    padding-left: 180px;
    padding-top: 20px;
    font-size: large;
}

.play-page h2{
    /* position: absolute;
    width: 485px;
    height: 119px;
    left: 119px;
    top: 145px; */
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    color: #000000;
}

.play-page h3{
    /* position: absolute;
    width: 485px;
    height: 119px;
    left: 119px;
    top: 145px; */
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    top: 145px;
    text-align: center;
    letter-spacing: -0.015em;
    /*line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;*/

    color: #000000;
}

.play-page img {
    float:right
}

#wrapper {
    width: 1000px;
    overflow: hidden; /* add this to contain floated children */
}
#first {
    float:left; /* add this */
    display: inline-block;
}
#second {
    display: inline-block;
    float: right; /* add this */
    align-items:baseline;
    /* text-size-adjust: 40px; */

}

.play-page h3{
    font-size: xx-small;
}

